html {
    width: 100%;
}

.view-wrapper {
    padding-top: 4rem;
    background-color: #F5F6F8;
}

.view-wrapper-dark {
    padding-top: 4rem;
    background-color: #131822;
}

.header-wrapper{
    background-color: #5865E0;
}

.devjobs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 1.875rem;
    overflow: hidden;
}

.text {
    color: white;
    font-size: .1.125rem;
}

.light-text {
    color: black;
}

.dark-text {
    color: #FFFFFF !important;
}

.toggleTheme {
    padding-right: 4rem;
}

.filter-wrap {
    display: flex;
    justify-content: space-around;
}

.filter-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
    margin-bottom: -2rem;
    border-radius: .25rem;
}

.filter-container-dark {
    background-color: #19212D;
}

.filter-fulltime {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.job-cards {
    margin: 1.875rem 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    padding-bottom: 1rem;
}

.light-card {
    background-color: #FFFFFF;
}

.dark-card {
    background-color: #19212D !important;
}

.job-body {
    cursor: pointer;
}

.loadmore-wrap {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.filter-fields {
    padding: .5rem 1.875rem 1.875rem;
}

.MuiFormControlLabel-root {
    margin-left: 1rem !important;
    padding-top: .5rem;
}
.MuiTypography-body1, .MuiButton-label {
    font-size: 14px !important;
}

button.MuiButton-root {
    margin-right: 1rem;
}

.MuiSvgIcon-root {
    height: .8em !important;
}
.theme-icon{
    fill: #FFFFFF !important;
}
.MuiInputLabel-animated {
    color: #5865E0 !important;
    font-size: 12px !important;
}
