html {
    width: 100%;
}

.view-wrapper {
    padding-top: 4rem;
    background-color: #F5F6F8;
}

.view-wrapper-dark {
    padding-top: 4rem;
    background-color: #131822;
}

.header-wrapper{
    background-color: #5865E0;
}

.devjobs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 1.875rem;
    overflow: hidden;
}

.text {
    color: white;
    font-size: .1.125rem;
}

.light-text {
    color: black;
}

.dark-text {
    color: #FFFFFF;
}

.toggleTheme {
    padding-right: 4rem;
}

.filter-wrap {
    display: flex;
    justify-content: space-around;
}

.filter-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
}

.filter-container-dark {
    background-color: #19212D;
}

.filter-fulltime {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.job-cards {
    margin: 1.875rem 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
}

.light-card {
    background-color: #FFFFFF;
}

.dark-card {
    background-color: #19212D !important;
}

.job-body {
    cursor: pointer;
}